@font-face{
    font-family:'theblacklist';
    src: url("../src/theblacklist.ttf")
}
* {
    box-sizing:border-box;
}
body{
    font-family: 'roboto',sans-serif;
    background-color:#F4F7F6;
    margin: 0;
}

header{
    text-align: center;
    background-color:#1D1D1D ;
    color:white; 
    padding-bottom: 30px;  
}

nav{
    text-align: center;
    box-shadow:0px 3px 1px -1px rgba(0,0,0,0.5) ;
    font-size: 1.1em;
    background-color: yellow;
    padding: 15px;
}
h1{
    font-family:'theblacklist','Arial','sans-serif';
    margin-top: 0;
    padding-top: 30px;
}
h2{
    font-family: 'open sans', sans-serif;
    font-size: 1.5em;
    margin:auto;
}

ul {
    padding: 0px;
    display:inline;
}

li{
    list-style-type: none;
    margin: 10px;
    display: inline;
  
}
li:hover{
    font-weight: bold;
}

section{
    text-align: center;
    margin-top: 50px;
}

h3{
    font-size: 1.5em;
    text-transform: uppercase;
}
h3:before{
    content:"« ";
    color:grey
}
h3:after{
    content:' »';
    color:grey
}
    
footer{
    background-color:#1d1d1d ;
    color: white;
    text-align: center;
    padding: 15px;
}
#contact p{
    border: 1px solid black ;
    border-radius: 15px;
    Padding: 30px;
}
a{
    text-decoration: none;
    color:black
}
#logo {
    margin-top: 30px;
    width: 50px;
}
.separator{
    height: 1px;
    width:40px ;
    margin:15px auto;
    display: block;
    background-color: #999999;
}
.contener{
    width: 80%;
    margin: auto;
}
.projets{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.projet{
    width: 400px;
    margin: 30px;
    display: inline-block;
    background-color: white;
    padding-bottom: 15px;
    border: opx solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.projet:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.date-projet{
    font-size: 0.7em;

}

.projet span{
    text-transform: uppercase;
    display: block;
}
.projet img{
    min-width: 400px;
    height: 266px;
}
.projet picture{
    width: 400px;
    height:266px;
    overflow: hidden;
    margin-bottom: 15px;
}
#picture-project img,#picture-project video{
    width: 80%;
}

/* MEDIA */
@media all and (max-width: 1000px){
	.projet { width: 100%; margin: 15px auto; }
	.projet img { width: 100%; min-width: auto; height: auto; }
	.projet .picture { width: 100%; height: auto; }
	header h2 { width: 90%; }
}





